
.div-header{
    background-color: rgb(19, 47, 62);
}
.display-4 {
    color: rgb(237, 103, 81);
    font-size: 2.5em;
    text-align: left;
    width: 215px;
    padding: 10px 20px 0;
    font-weight: bold;
    margin-bottom: 3px;
}
.ant-breadcrumb {
    padding: 24px;
}
.icon-nav {
    color: white;
}
.ant-breadcrumb .icon-nav{
    font-size: 22px;
}
.ant-breadcrumb a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.45);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    padding: 11px 28px;
}
.anticon svg {
    color: #fff;
    font-size: 44px;
    background-color: rgb(61, 157, 161);
    border-radius: 100px;
    padding: 8px;
}
.ant-breadcrumb-link > .anticon + span {
    display: block;
    margin-left: 4px;
    color: #fff;
    font-size: 15px;
}
span.ant-breadcrumb-separator {
    color: rgb(19, 47, 62);
    margin: 0 8px;
}
.line-header {
    width: auto;
    background-color: rgb(48, 73, 86);
    padding: 1px;
}
.p-parkingFor{
    font-size: 1.5em;
    text-align: left;
    padding: 10px 20px 0;
    font-weight: bold;
}
.list-user a {
    display: block;
    display: flex;
    flex-direction: column-reverse;
    color: rgb(19, 47, 62);
    font-weight: bold;
    font-size: 1.2em;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
.ant-popover.ant-popover-arrow {
    border-style: 0;
}
.p-userprofile{
    display: block;
    margin-left: 4px;
    color: #fff;
    font-size: 15px;
}