
#components-form-demo-normal-login .login-form {
max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
float: right;
}
#components-form-demo-normal-login .login-form-button {
width: 100%;
}
body {
    background-image: url('/background.png'), linear-gradient(#386B84, #408F9D);
    background-size: 100px;
    /* background-image: url('/background.png') */
    /* background-image: url(./../background.png)!important; */
  }
form.ant-form.ant-form-horizontal.register-form {
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    background: rgb(115, 158, 170);
    /* background-image: url(./../background.png); */
}
form.ant-form.ant-form-horizontal.login-form {
    padding: 30px;
}
form.ant-form.ant-form-horizontal.Profile-form{
    padding: 30px;
}
.ant-form-item label {
    position: relative;
    font-weight: bold;
}
form.ant-form label {
    font-size: 18px;
    color: #fff;
}
input.ant-input {
    border: 2px solid #1890ff;
    font-size: 16px;
}
i.anticon.anticon-user.iconlogin svg{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.65);
    font-size: 38px;
    border-radius:0
}
i.anticon.anticon-lock.iconlogin svg{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.65);
    font-size: 38px;
    border-radius:0
}
input.ant-input.ant-input:not(:first-child) {
    padding-left: 50px;
    font-size: 16px;
}
.ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
    font-size: 16px;
}
button.ant-btn-primary {
    color: #fff;
    background-color: rgb(237, 103, 86);
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    margin-right: 10px;
    margin-left: 10px;
    font-size: 19px;
}
input.ant-input {
    font-size: 16px;
    height: 40px;
}
.ant-form-item-children p{
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
.ant-form-explain {
    min-height: 0;
}
.ant-form-explain.has-error.ant-form-explain,.has-error.ant-form-split {
    color: #000;
}
i.arrow-right svg {
    color: #fff;
    font-size: 49px;
    background-color: rgb(61, 157, 161);
    border-radius: 100px;
    padding: 8px;
    border: 4px solid rgb(237, 103, 86);
}